.col-md-6 a {
  font-weight: 500;
  font-size: 18px !important;
  padding: 12px 25px !important;
}
.col-md-6 a:hover {
  color: #00f5d0 !important;
  background-color: transparent !important;
  border: 1px solid #00f5d0 !important;
}

.para-text p {
  color: #fff;
}
.col-md-6 img {
  height: 500px !important;
  object-fit: cover;
}
