.navbar-expand-lg {
  background-color: transparent !important;
  position: absolute;
  width: 100%;
}

.navbar-toggler {
  /* all: unset !important; */
}
form button {
  border: 1px solid #00f5d0 !important;
}
form button:hover {
  background-color: #00f5d0 !important;
  color: black !important;
}

span FitnessCenterOutlinedIcon {
  color: #00f5d0 !important;
}
